<div id="main" class="post" itemscope itemprop="blogPost">
	<article itemprop="articleBody">
    {{ partial "article_header.html" . }}
	<div class="article-content">
    {{ if isset .Params "toc"}}
		<div class="toc-article">
			<strong class="toc-title">{{ .Site.Params.Strings.TableOfContents }}</strong>
      {{ .TableOfContents }}
		</div>
    {{ end }}
    {{ .Content }}
    {{ if .Params.CreativeCommons }}
    <div class="creative-commons">
        <a rel="license"
           href="https://creativecommons.org/licenses/by-sa/4.0/"><img
           alt="知识共享许可协议" style="border-width:0"
           src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a><br />
    </div>
    {{ end }}
	</div>
  {{ partial "article_footer.html" . }}
	</article>
  {{ partial "comment.html" . }}
</div>
