{{ if isset .Params "tags" }}
{{ if not (eq (len .Params.tags) 0) }}
<div class="article-tags">
  <span></span>
  {{ range .Params.tags }}
  <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
{{ end }}

{{ if isset .Params "categories" }}
{{ if not (eq (len .Params.categories) 0) }}
<div class="article-categories">
  <span></span>
  {{ range .Params.categories }}
  <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
{{ end }}
